#abas {
//    border: 1px solid green;
}

#abas ul{
    display: inline;
}

#abas ul li{
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

#conteudos {
    border: 1px solid black;
}

.conteudo {
    border: 1px solid red;
}

.selecionado {
    background-color: grey;
}